
div{
  background-color: aliceblue;
  margin: 10px;
  margin-bottom: 10;
  padding: 10px;
  justify-content: center;
  display: flex;
  text-align: center;
}
input{
  padding:10px;
  border-radius: 10px;
  margin: 5px;
}
img{
  border-radius: 1000px;
}
h2{
  margin: -20px;
}
.profile{
   width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.seconddiv{
  display:flex;
  justify-content: center;
  height: 300px;
  width: 450px;
  background-color:rgb(163, 161, 187);
  border-radius: 20px;
  box-shadow:0 0 10px black;
}
